.button{
    display: inline-block;
    padding: 15px 15px;
    background-color: aquamarine;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;

    opacity: 0.75;

    box box-shadow: 2.5px 2.5px 5px rgba(0,0,0,.4);
}

.button:hover{
    background-color: #20B2AA;

    border: 2px solid rgba(255, 255, 255,. 8);
}